header{
    width: 100%;
    height: 40px;
    background-color: black;
    justify-content: flex-start;
    align-items: center;
    color: aliceblue;
    display: inline-block;
}
.headerMenu{
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.headerMenu li{
    padding-left: 1vw;
    padding-right: 1vw;
}
main{
    padding: 0;
    margin: 0px 2px 0px 2px;
    display: flex;
}
/* メインコンテナ */
.mainContainar{
    margin-top: 5px;
    width: 700%;
    height: 150vh;
}
/* メインコンテナ要素 */
.mainh1{
    margin-left: 2px;
    border-left: 4px solid black;
    border-bottom: 1px solid black;
}
/* .mainContainar > .bookstore{
    width: 500px;
    height: 400px;
} */
/* 記事全体の背景色とサイズ */
.articleContainar{
    width: 300px;
    height: 400px;
    background-color: darkgray;
}
.box2{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: darkgray;
    height: 170px;
    width: 100%;
}
/* 微調整エリア */
.boxPic2{
    margin: 10px 5px 20px 5px;
    background-color: darkgray;
}
.boxPic2 img{
    width: 140px;
    height: 100px;
}
.boxPic2 p {
    margin-top: 2px;
    font-size: 12px;
}
/* アサイド */
.asideContainar{
    margin-top: 30px;
    margin-left: 5px;
    width: 300%;
    height: 150vh;
    list-style: none;
    text-decoration:none;
}
.asideContainar h2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid gray;
}
.asideContainar li{
    list-style: none;
}
.asideContainar li a{
    text-decoration: none;
    color: black;
}
.footerContainar{
    width: 100%;
    height: 40px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
